@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Page Styles */
body{
  display: flex;
  position: relative;
  background: url(/postcardBackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
}


body::-webkit-scrollbar {
  width: 0.2em;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  background-color: black;
}


@font-face {
  font-family: 'PoppinsSemiBold';
  src: url('/Poppins-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'PoppinsBold';
  src: url('/Poppins-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'PoppinsMedium';
  src: url('/Poppins-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'PoppinsRegular';
  src: url('/Poppins-Regular.ttf') format('truetype');
}